@font-face {
    font-family: 'DMSans-Medium';
    src: url(../fonts/dm-sans-cufonfonts/DMSans-Medium.ttf);
  }
#settingHeader{
    z-index: 1000;
    background-color: #fcfcfd;
    position: sticky;
    top: 0;
    height: 68px;
    transition: all .1s ease-in;
}
.main-header{
    height: 100% !important;
    display: flex !important;
}
.header{
    justify-content: space-between;
    width: 100%!important;
    padding-right: 40px!important;
    padding-left: 40px!important;
    align-items: center!important;
    display: flex!important;
}
.dashboard-header{
    text-transform: capitalize;
    font-size: 24px;
    font-family: "DMSans-Medium",sans-serif;
    line-height: 32px;
    letter-spacing: .1px;
    font-weight: 500;
    box-sizing: border-box;
}